*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  background-image: url("./images/Minnesota\ Light\ Rail.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
}

.small__box {
  margin-top: 2%;
}

h1 {
  margin: 0.625rem;
  color: white;
  text-shadow: 0 0 0.3125rem #00489b;
}

h2 {
  font-size: 3.125rem;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: white;
  text-shadow: 0 0 0.3125rem #00489b;
}

p {
  color: white;
  text-shadow: 0 0 0.3125rem #00489b;
}

button {
  border: none;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  color: white;
  font-weight: bold;
  width: 9.375rem;
  margin: 0.3125rem;
  border-radius: 0.3125rem;
}



#increment-btn {
  background: #f6d21a;
  color: #0060cb;
  border: 2px solid #0060cb;
}

#save-btn {
  background: #0060cb;
  border: 2px solid #f6d21a;
  color: #f6d21a;
}

#increment-btn:hover {
  background: #e9c200;
}

#save-btn:hover {
  background: #00489b;
}
